<div class="container mt-2">
  <h1>Reportify</h1>
  <p>Notify and report to your supervisor on your work progress!</p>
  <button class="btn btn-success">
    <%= link_to "Get Started" %>
  </button>
</div>
